<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BHoM" version="2.3.0-beta" targetFramework="net452" />
  <package id="BHoM.Engine" version="2.3.0-beta" targetFramework="net452" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net452" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net452" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net452" />
  <package id="CompareNETObjects" version="4.57.0" targetFramework="net452" />
  <package id="Countly" version="19.8.0" targetFramework="net45" />
  <package id="DeepCloner" version="0.10.2" targetFramework="net452" />
  <package id="DeviceId" version="4.3.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net452" />
  <package id="Mono.Reflection" version="1.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="SpeckleCore" version="1.6.9" targetFramework="net45" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="net45" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="net45" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.11" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.11" targetFramework="net45" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.11" targetFramework="net45" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.11" targetFramework="net45" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net45" />
</packages>